x-worker-host: &worker-host
  network_mode: host
  ports: []
  cpuset: ${HFT_CPUSET_WORKERS:-0-1}
  mem_limit: ${HFT_WORKER_MEM:-2g}

services:
  hft-worker-0:
    extends:
      file: docker-compose.stress.yml
      service: hft-worker-0
    <<: *worker-host

  hft-worker-1:
    extends:
      file: docker-compose.stress.yml
      service: hft-worker-1
    <<: *worker-host

  hft-worker-2:
    extends:
      file: docker-compose.stress.yml
      service: hft-worker-2
    <<: *worker-host

  hft-worker-3:
    extends:
      file: docker-compose.stress.yml
      service: hft-worker-3
    <<: *worker-host

  hft-worker-4:
    extends:
      file: docker-compose.stress.yml
      service: hft-worker-4
    <<: *worker-host

  wal-loader:
    extends:
      file: docker-compose.yml
      service: wal-loader
    network_mode: host
    ports: []
    cpuset: ${HFT_CPUSET_WAL:-1}

  clickhouse:
    extends:
      file: docker-compose.yml
      service: clickhouse
    network_mode: host
    ports: []
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
