global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - /etc/prometheus/alerts/rules.yaml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:
  - job_name: "hft-engine"
    metrics_path: /metrics
    static_configs:
      - targets:
          - "hft-engine:9090"
